.layout {
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--canvas);
  background-image: var(--background);
  color: var(--foreground);
  font-family: var(--ff-sans);
}

.layout-content {
  flex: 1;
}
