.session-status-panel {
  display: flex;
  justify-content: center;
}

.session-status {
  color: var(--primary);
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1px;
}
